@model Simple.MVC.Security.Data.SEUsuarioModelo

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastrar Usuários";}
<script src="~/Content/jquery-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

@using (Html.BeginForm("Criar", "Usuario", FormMethod.Post))
{
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="form-group ">
                    <label>Usuário</label>
                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control", @required = "" })
                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "help-block" })
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="form-group">
                    <label>Gerar senha automaticamente</label>
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.GerarSenha, true)  Desmarque para poder cadastrar uma senha específica.
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="password-div" style="display:none;">
            <div class="col-lg-5 col-md-5">
                <div class="form-group">
                    <label>Senha</label>
                    @Html.PasswordFor(model => model.Senha, new { @class = "form-control password-iten", @required = "" })
                    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "help-block" })
                </div>
                <div class="form-group">
                    <label>Confirmar Senha</label>
                    @Html.PasswordFor(model => model.ConfirmarSenha, new { @class = "form-control password-iten", @required = "" })
                    @Html.ValidationMessageFor(model => model.ConfirmarSenha, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.MudaSenhaProximoLogon) Mudar senha no próximo logon
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-12">
                <div class="form-group well">
                    <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                    <a href="@Url.Action("Indice")" class="btn btn-default">Voltar</a>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script type="text/javascript">
            $(document).ready(function () {
                CheckGerarSenha();
            });
            $('#GerarSenha').change(function () {
                CheckGerarSenha();
            });
            function CheckGerarSenha() {
                if ($('#GerarSenha').is(':checked')) {
                    $('#password-div').delay(200).hide('slow');
                    $('.password-iten').removeAttr("required");
                }
                else {
                    $('#password-div').delay(200).show('slow');
                    $('.password-iten').attr("required");
                }
            }
        </script>
}
