@model Simple.MVC.Security.Data.SEUsuario

@{
    ViewBag.Title = "Excluir Pessoa";
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@ViewBag.Title</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>ID:</dt>
                <dd>@Model.Id</dd>
                <dt>Nome:</dt>
                <dd>@Model.Nome</dd>
                <dt>Login:</dt>
                <dd>@Model.Login</dd>
                <dt>E-mail:</dt>
                <dd>@Model.CGPessoa.Email</dd>
                <dt>E-mail Alternativo:</dt>
                <dd>@Model.EmailAlt</dd>
            </dl>
        </div>
        <div class="modal-footer">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(m => m.Id)
                <p>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </p>
            }
        </div>
    </div>
</div>