@model IEnumerable<Simple.MVC.Security.Data.SEUsuario>
@{ ViewBag.Title = "Cadastrar Usuários";}
<div class="page-header">
    <h1>@ViewBag.Title</h1>
    <div class="pull-right novo-page-header">
        <a href="@Url.Action("Criar","Usuario")" title="Nova"><i class="fa fa-plus-circle fa-3x" title="" data-original-title="Novo"></i><span class="hide">Novo</span></a>
    </div>
</div>

@RenderPage("~/Views/Shared/_filterIndex.cshtml")
<div class="panel panel-primary table-responsive">
    <table class="table table-hover">
        <thead class="tb-primary">
            <tr>
                <th>
                    Login
                </th>
                <th>
                    Situação
                </th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Login
                </td>
                <td>
                    @(item.Situacao == 1 ? "Ativo" : "Inativo")
                </td>
                <td class="text-center">
                    <a href="javascript:;" class="btnModal" data-href="@Url.Action("Detalhes", "Usuario", new { Id = item.Id,  Area = "Seguranca" })"><i title="Visualizar" class="fa fa-search fa-lg"></i><span class="hide">Visualizar</span></a>
                    <a href="@Url.Action("Editar", "Usuario", new { Id = item.Id,  Area = "Seguranca" })"><i title="Editar" class="fa fa-edit fa-lg"></i><span class="hide">Editar</span></a>
                    <a href="@Url.Action("PessoaGrupo", "Grupo", new { Id = item.Id, Area = "Seguranca" })"><i title="Adicionar usuários aos grupos" class="fa fa-user-plus fa-lg"></i><span class="hide">Adicionar Usuários</span></a>
                    <a href="javascript:;" class="btnModal" data-href="@Url.Action("MudarSenha", "Usuario", new { Id = item.Id,  Area = "Seguranca" })">
                        <i title="Editar Senha" class="fa fa-lock fa-lg icon-red"></i><span class="hide">Editar Senha</span>
                    </a>
                    <a href="javascript:;" class="btnModal" data-href="@Url.Action("Excluir", "Usuario", new { Id = item.Id,  Area = "Seguranca" })">
                        <i title="Excluir" class="fa fa-times fa-lg icon-red"></i><span class="hide">Excluir</span>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
@RenderPage("~/Views/Shared/_paginate.cshtml")