@{ 
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Simpler FZ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/main.css")" />
    <!--[if lte IE 8]><link rel="stylesheet" href="@Url.Content("~/assets/css/ie8.css")" /><![endif]-->
</head>
<body class="homepage">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <div id="header">

                <!-- Logo -->
                <h1><a href="index.html">Simpler Fome Zero</a></h1>

                <!-- Nav -->
                <!-- Banner -->
                <section id="banner">
                    <header>
                        <h2>Doe Alimento</h2>
                        <p>Vamos juntos combater o desperdício de alimentos e a fome</p>
                    </header>
                </section>

                <!-- Intro -->
                <section id="intro" class="container">
                    <div class="row">
                        <div class="4u 12u(mobile)">
                            <section class="first">
                                <i class="icon featured fa fa-cart-plus"></i>
                                <header>
                                    <h2>Seja um doador</h2>
                                </header>
                                <p>26,3 milhões de toneladas de comida são desperdiçadas ao ano somente no Brasil.</p>
                            </section>
                        </div>
                        <div class="4u 12u(mobile)">
                            <section class="middle">
                                <i class="icon featured fa fa-heart"></i>
                                <header>
                                    <h2>Ajude quem precisa</h2>
                                </header>
                                <p>19 milhões de pessoas poderiam ser alimentadas com o fim do desperdício</p>
                            </section>
                        </div>
                        <div class="4u 12u(mobile)">
                            <section class="last">
                                <i class="icon featured fa-star"></i>
                                <header>
                                    <h2>Faça parte da Simpler FZ</h2>
                                </header>
                                <p>Somos uma associação sem fins lucrativos que ajuda a combater a fome.</p>
                            </section>
                        </div>
                    </div>
                    <footer>
                        <ul class="actions">
                            <li><a href="#" class="button big">Cadastra-se</a></li>
                            <li><a href="#" class="button alt big">Saiba mais</a></li>
                        </ul>
                    </footer>
                </section>

            </div>
        </div>

        <!-- Main -->
        <div id="main-wrapper">
            <div class="container">
                <div class="row">
                    <div class="12u">

                        <!-- Portfolio -->
                        <section>
                            <header class="major">
                                <h2>Conheça a Família Simpler FZ</h2>
                            </header>
                            <div class="row">
                                <div class="4u 12u(mobile)">
                                    <section class="box">
                                        <a href="#" class="image featured"><img src="@Url.Content("~/images/pic02.jpg")" alt="" /></a>
                                        <header>
                                            <h3>Agente Doador</h3>
                                        </header>
                                        <p>
                                            <ul>
                                                <li>Informa que tem doação;</li>
                                                <li>Ou leva os alimentos ao Parceiros Distribuidores;</li>
                                                <li>Faz doação Financeira;</li>
                                                <li>Avalia Agente Fome Zero;</li>
                                            </ul>
                                    </section>
                                </div>
                                <div class="4u 12u(mobile)">
                                    <section class="box">
                                        <a href="#" class="image featured"><img src="@Url.Content("~/images/pic07.jpg")" alt="" /></a>
                                        <header>
                                            <h3>Você</h3>
                                        </header>
                                        <p>Venha Fazer parte da Família Simpler FZ<br /><br /><p>
                                            <footer>
                                                <center><a href="#" class="button alt">Quero fazer parte</a></center>
                                            </footer>
                                    </section>
                                </div>
                                <div class="4u 12u(mobile)">
                                    <section class="box">
                                        <a href="#" class="image featured"><img src="@Url.Content("~/images/pic04.jpg")" alt="" /></a>
                                        <header>
                                            <h3>Agente Parceiro</h3>
                                        </header>
                                        <p>
                                            <ul>
                                                <li>Fornece Benefícios Aos Agentes;</li>
                                                <li>Faz doações Financeiras;</li>
                                                <li>Consultam os Agentes;</li>
                                                <li><br /></li>
                                            </ul>
                                        </p>
                                    </section>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
                <div class="row">
                    <div class="12u">

                        <!-- Blog -->
                        <section>
                            <header class="major">
                                <h2>Ajude Quem Necessita</h2>
                            </header>
                            <div class="row">
                                <div class="12u 12u(mobile)">
                                    <section class="box">
                                        <a href="#" class="image featured"><img src="@Url.Content("~/images/pic08.jpg")" alt="" /></a>
                                        <header>
                                            <h3>Vamos combater a fome juntos?</h3>
                                        </header>
                                        <p>A fome é uma forma de exclusão social, uma pessoa que não consegue se alimentar acaba não conseguindo também:</p>
                                        <br />
                                        <a href="#" class="image featured"><img src="@Url.Content("~/images/pic089.jpg")" alt="" /></a>
                                    </section>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer-wrapper">
            <section id="footer" class="container">

                <div class="row">
                    <div class="4u 12u(mobile)">
                        <section>
                            <header>
                                <h2>Endereço</h2>
                            </header>
                            <ul class="divided">
                                <li>
                                    <p>
                                        Palmas-TO, Brasil<br />
                                        103 Norte, Avenida JK, número 9<br />
                                        Plano diretor Norte, CEP 77270-000
                                    </p>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="4u 12u(mobile)">
                        <section>
                            <header>
                                <h2>Contato</h2>
                            </header>
                            <ul class="divided">
                                <li>
                                    <h3>E-mail</h3><p><a href="#">contato@simplerfz.com.br</a></p><h3>Telefone</h3>
                                    <p>0800 000 774</p>
                                </li>

                            </ul>
                        </section>
                    </div>
                    <div class="4u 12u(mobile)">
                        <section>
                            <header>
                                <h2>Redes Sociais</h2>
                            </header>
                            <ul class="social">
                                <li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
                                <li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                                <li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
                                <li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
                                <li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
                            </ul>

                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="12u">

                        <!-- Copyright -->
                        <div id="copyright">
                            <ul class="links">
                                <li>© 2017 Simpler Fome Zero. Todos os direitos reservados.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>
        </div>

    </div>

    <!-- Scripts -->
    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.dropotron.min.js")"></script>
    <script src="@Url.Content("~/assets/js/skel.min.js")"></script>
    <script src="@Url.Content("~/assets/js/skel-viewport.min.js")"></script>
    <script src="@Url.Content("~/assets/js/util.js")"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="@Url.Content("~/assets/js/main.js")"></script>

</body>
</html>