@using Simple.MVC.Security.Data;
@{
    ViewBag.Title = "Gestão dos Menus de um Grupo";
}
<script src="~/Content/jquery-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Sistema</label>
                @Html.DropDownList("sistemas", ViewBag.sistemas as SelectList, new { @class = "form-control ddlSistema" })
            </div>
            <div class="form-group">
                <label>Menus do Sistema</label>
                <div id="divMenuSistema" class="box">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Grupo</label>
                @Html.DropDownList("grupos", ViewBag.grupos as SelectList, new { @class = "form-control ddlSEGrupo" })
            </div>
            <div class="form-group">
                <label>Menus do Grupo</label>
                <div id="divMenuSEGrupo1" class="box">
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<style>
    #divMenuSistema li:hover
    {
        cursor: pointer;
    }

    #divMenuSistema div, #divMenuSEGrupo1 div
    {
        padding:0px;
    }
    #divMenuSistema div .nav-sidebar, #divMenuSEGrupo1 div .nav-sidebar {
        margin-bottom: 0px;
    }

    .box
    {
        border: solid 1px #ccc;
        min-height: 300px;
        max-height: 600px;
        overflow: auto;
    }
</style>
<script>
    $(document).ready(function () {
        Sistema();
        SEGrupo();
    });
    /*****************************************************************************************************************************************/
    function drag() {
        $("#divMenuSistema").find("ul li ul li").draggable({
            appendTo: "body",
            helper: "clone",
        });
        $("#divMenuSistema").find("ul li").draggable({
            appendTo: "body",
            helper: "clone",
        });
    }
    /*****************************************************************************************************************************************/
    function SEGrupo()
    {
        var url = '@Url.Action("MenuGrupoSistema","MenuGrupo")' + '/?IdSistema=' + $('.ddlSistema').find(":selected").val() + '&IdGrupo=' + $('.ddlSEGrupo').find(":selected").val();
        $("#divMenuSEGrupo1").empty();
        $("#divMenuSEGrupo1").load(url);
    }
    /*****************************************************************************************************************************************/
    function Sistema()
    {
        var url = '@Url.Action("MenuSistema","MenuGrupo")' + '/' + $('.ddlSistema').find(":selected").val();
        $("#divMenuSistema").empty();
        $("#divMenuSistema").load(url);
        setTimeout(function () {
            drag()
        },1200);

    }
    /*****************************************************************************************************************************************/
    $(".ddlSEGrupo").change(function () {
        SEGrupo();
    });
    /*****************************************************************************************************************************************/
    $(".ddlSistema").change(function () {
        Sistema();
        SEGrupo();
    });
    /*****************************************************************************************************************************************/
    $("#divMenuSEGrupo1").droppable({
        activeClass: "",
        hoverClass: "",
        accept: ":not(.ui-sortable-helper)",
        drop: function (event, ui) {
            console.log($(ui.draggable));
            adicionar($(ui.draggable));
        }
    });

    function adicionar(li)
    {
            $.ajax({
                url: '@Url.Action("AdicionarMenuGrupo", "MenuGrupo")',
                type: 'GET',
                data: { 'IdMenu': li.data("id"), 'IdGrupo': $('.ddlSEGrupo').find(":selected").val() },
                contentType: 'application/json; charset=utf-8',
                async: false,
                success: function (result) {
                    SEGrupo();
                    $.pnotify({
                        text: $(result).prop("text"),
                        type: $(result).prop("value"),
                        closer: true
                    });
                    
                },
                error: function (result) {
                    $.pnotify({
                        text: $(result).prop("text"),
                        type: $(result).prop("value"),
                        closer: true
                    });
                }
            });
        }
</script>